body {
  background-image:url(cupcake.jpg);
  background-size: 60%;
}

h1 {
  text-align: center;
  color: powderblue;
  font-size: 100px;
 font-style: italic;}
 button{

font-size: 25px;}
table {
  image(size):100px;
}
